<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
  <tr>
    <td valign="top" class="bodyContent">
      <div class="intro-section"  style="padding:0px; #cccccc; padding-bottom:20px; background-image:url('http://gallery.mailchimp.com/acf7def2835785a77a887ff5d/images/tile_paper_texture_white.jpg');" >
        <img align="left" alt="" border="0" height="280" width="600" src="http://gallery.mailchimp.com/acf7def2835785a77a887ff5d/images/rennschwein.png" style="max-width:600px;margin-bottom:10px;margin-top:10px;" >
        <h1 class="headline_variation_2" style="padding-left:20px;padding-bottom:0;margin-bottom:5px;margin-top:5px;" >Oink: Dein Gutschwein!</h1>
        <div style="padding-left:20px;padding-right:20px;">
          <p>Hallo <%= @order.billing_address.firstname %>,</p>
          <p>danke für den Kauf des Gutschweins im Wert von <%= number_to_currency @gift_card.price %>. Danke auch, dass Du dadurch zur Verbreitung eines neuen BeWurstseins beiträgst: Weniger Fleisch, mehr Respekt!</p>
          <p>Im Anhang findest Du das PDF mit einem Code (<%= @gift_card.code %>), den der Beschenkte einsetzen kann, um lecker Wurst oder Fleisch mit Gesicht zu kaufen.</p>
          <p>Das PDF kannst Du auch auf einem DIN A4 Blatt ausdrucken, in der Mitte zu einer Grußkarte falten und noch ein paar persönliche Zeilen reinschreiben.</p>
          <p>Oink!</p>
          <p>
            Dennis und die anderen Schweine von MeinekleineFarm.org
          </p>
        </div>
      </div>
    </td>
  </tr>
</table>
